//问答list需要对时间进行调整，通过index.js文件传入现在的时间与列表数据时间进行比对
function exchangeTime(timenow, timethis) {
  //日期转时间戳
  var timethisstamp = Date.parse(timethis);
  timethisstamp = timethisstamp / 1000;
  var timenowstamp = Date.parse(timenow);
  timenowstamp = timenowstamp / 1000;
  var minusdays = (timenowstamp - timethisstamp) / (60 * 60 * 24)
  if (minusdays <= 3) {
    if (minusdays < 1) {
      var minushours = minusdays * 24
      if (minushours < 1) {
        var minusminutes = minushours * 60
        return minusminutes.toFixed(0) + '分钟前'
      } else {
        return minushours.toFixed(0) + '小时前'
      }
    } else {
      return minusdays.toFixed(0) + '天前'
    }
  } else {
    return timethis
  }
  //时间戳转日期
  // formatTime(time)——2018-09-22 09:09:09
  // formatTime(time,'yyyy/MM/dd')——2018/09/22
}

//时间戳转日期的方法组
var regYear = getRegExp("(y+)", "i");
var dateFormat = function (timestamp, format) {
  if (!format) {
    format = "yyyy-MM-dd hh:mm:ss";
  }
  timestamp = parseInt(timestamp);
  var realDate = getDate(timestamp);
  function timeFormat(num) {
    return num < 10 ? '0' + num : num;
  }
  var date = [
    ["M+", timeFormat(realDate.getMonth() + 1)],
    ["d+", timeFormat(realDate.getDate())],
    ["h+", timeFormat(realDate.getHours())],
    ["m+", timeFormat(realDate.getMinutes())],
    ["s+", timeFormat(realDate.getSeconds())],
    ["q+", Math.floor((realDate.getMonth() + 3) / 3)],
    ["S+", realDate.getMilliseconds()],
  ];
  var reg1 = regYear.exec(format);
  if (reg1) {
    format = format.replace(reg1[1], (realDate.getFullYear() + '').substring(4 - reg1[1].length));
  }
  for (var i = 0; i < date.length; i++) {
    var k = date[i][0];
    var v = date[i][1];
    var reg2 = getRegExp("(" + k + ")").exec(format);
    if (reg2) {
      format = format.replace(reg2[1], reg2[1].length == 1
        ? v : ("00" + v).substring(("" + v).length));
    }
  }
  return format;
}
//时间戳转日期的方法组结束



module.exports = {
  exchangeTime: exchangeTime,
}