//memb-index,计算导航下划线的宽度
countMemberNavWidth = function (e) {
  var thiswidth = '';
  if (e == "mo") {
    thiswidth = '66.66%';
  } else if (e == "mc") {
    thiswidth = '0%';
  } else {
    thiswidth = '33.33%';
  }
  return thiswidth;
}

returnTypeName = function(e){
  var typename = ''
  if(e == '2'){
    typename = '机构教师'
  }else{
    typename = '顾问机构'
  }
  return typename
}

returnValidity = function(e){
  e = [e].toString()
  e = e.split(' ')[0]
  var reg = getRegExp("/", "g")
  e = e.replace(reg, '.')
  var iyear = e.split('.')[0]
  //强制转换为数字
  var iyearnew = iyear/1 + 1
  var validitytime = iyearnew + '.' + e.split('.')[1] + '.' + e.split('.')[2]
  return e + ' - ' + validitytime
}

module.exports = {
  countMemberNavWidth: countMemberNavWidth,
  returnTypeName: returnTypeName,
  returnValidity: returnValidity,
}